* {
  margin: 0;
  padding: 5px;
  font-family: sans-serif;
}
.container {
  width: 100%;
  height: 900px;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}
.content-forms-1 {
  height: 200px;
}
.content-forms-2 {
  height: 200px;
}
.content {
  width: 900px;
  margin: 0 auto;
}
.txt1 {
  width: 315px;
  height: 30px;
  border-radius: 5px;
}
.btn {
  width: 240px;
  height: 30px;
  background-color: greenyellow;
  border-radius: 5px;
  margin: 0 5px;
}
.btn:hover {
  background-color: rgb(128, 133, 128);
}
.place {
  width: 890px;
  height: 30px;
  border-radius: 5px;
}
input[type="text"] {
  border: 1px solid gray;
}
