* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  width: 1440px;
  height: 2400px;
  background: grey;
}

header {
  width: 100%;
  height: 800px;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: flex-end
}

main {
  width: 98%;
  height: 800px;
  background: white;
  padding: 50px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  color: rgb(168, 74, 40);
  transition-duration: .5s
}

.textContent-h {
  margin-bottom: 150px;
  font-size: 14px;
}

.textContent-f {
  margin-bottom: 150px;
  font-size: 120px;
}

.image {
  width: 600px;
  height: 400px;
  background: url(../img/com.jpg);
  background-size: cover;
  align-self: flex-end;
}

.text {
  margin-top: 30px;
  font-size: 34px
}

.line {
  border-bottom: 4px solid red;
  width: 140px;
}

footer {
  width: 100%;
  height: 800px;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}