@import url(reset.css);


.conteiner {
    width: 900px;
    height: 900px;
    display: block;
    border: 1px solid black;
    margin: 0 auto;
}

.viss1 {
    display: none;
}

.box-conteiner {
    width: 500px;
    height: 500px;
    border: 1px solid black;
    margin: 50px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
}

.header {
    width: 100%;
    height: 40px;
    background: green;
    color: white;
    font-weight: bold;
    font-family: sans-serif;
    text-align: center;
    font-size: 25px;
    padding-top: 20px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;


}

input[type=text],
input[type=email] {
    width: 400px;
    height: 30px;
    padding-left: 10px;
    border: 1px solid rgb(143, 143, 143);
    border-radius: 5px;


}

select option {
    display: block;
    position: absolute;
    top: -20px;
    left: 0;
}


form[name=txt-form] {
    margin: 20px
}

form p {
    margin: 10px 0 10px 0;
    font-family: sans-serif;
}


.box-chekboxes {
    margin-top: 20px;
    margin-left: -275px;
    margin-bottom: 20px;
    font-family: sans-serif;


}

.box-setion select {
    width: 409px;
    height: 35px;
    display: block;
    font-family: sans-serif;
    border: 1px solid rgb(143, 143, 143);
    border-radius: 5px;
    position: relative;
}


.box-check-txt {
    margin-left: -100px;
    margin-top: 10px;
    font-family: sans-serif;

}


input[value='Sign Up'] {
    width: 410px;
    height: 40px;
    border-radius: 5px;
    margin-top: 20px;
    background: green;
    color: #fff;
    font-size: 18px;

}

/*------------------------*/

.container-fa {
    width: 800px;
    height: 900px;
    display: none;
    border: 1px solid black;
    margin: 0 auto;
}

.viss {
    display: block;
}

.box-container-fa {
    width: 400px;
    height: 400px;
    border: 1px solid black;
    margin: 50px auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;

}

.header-fa {
    width: 100%;
    height: 90px;
    background: green;
    z-index: 1;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;

}

.footer {
    width: 100%;
    height: 50px;
    background: green;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;

}

hr {
    width: 380px;
    margin-left: 10px;
    margin-top: 20px;
}

.sign-out {
    text-align: center;
}

i {
    font-size: 25px;
    color: white;
    padding: 5px;
    cursor: pointer;
}

.add-img {
    background-size: cover;
    margin: 55px auto;


}

.data-acount {
    text-align: center;
    line-height: 30px;
    margin-top: 50px;
}

.image-woman {
    background-image: url("../style/img/12.jpeg");
    width: 90px;
    height: 90px;

}

.image-men {
    background-image: url("../style/img/56.jpeg");
    width: 90px;
    height: 90px;
}

.fName,
.sName {
    display: inline-block;
    font-weight: bold;
    font-family: sans-serif;
}
.eMail,.proF{
        font-family: sans-serif;

}

input[value='Sign Out'] {
    background: white;
    border: 1px green solid;
    color: green;
    width: 90px;
    height: 40px;
    border-radius: 5px;
}